/* Main Website Title  */
h1 {
    /* Header Spacing */
    margin: 10px 0 10px 0;
    
    /* Text Decoration */
    text-align: center;
    text-decoration: underline;
    
    /* Font Decoration */
    font-size: 20px;
    font-weight: bolder;
}

/* Paragraph Formatting */
p {
    padding: 10px;
}

/* Used to format the outside section containing the paragraph.*/
#IntroParagraphOuterSec {
    width: 50%;
    background-color: grey;
    padding: 10px 10px 10px 10px;
    
    margin-left: auto;
    margin-right: auto;
}

/* Used to format the inside section containing the paragraph. */
#IntroParagraphInnerSec {
    text-align: justify;
    width: 100%;
    
    margin-left: auto;
    margin-right: auto;
    
    background-color: white;
}

/* Used for the Styling of the Navigation Bar  */
ul {
    overflow: hidden;
    background: grey;
}

ul li {
    float: inherit;
    list-style: none;
}

ul li a {
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    
    background-color: grey;
    float: left;
}

ul li a:hover {
    background-color: white;
}

/* Footer used for links at the bottom of the page */
.icons {
    background-color: grey;
    
    position: absolute;
    top: 50%;
    left: 10%;
}

.logos {
    width: 60px;
    padding: 10px;
    
    background-color: grey;
    list-style: none;
    margin: none;
}

.logos:hover {
    
}
}

#linkedInLogo {
    width: 40px;
}