/* Main Website Title  */
h1 {
    /* Header Spacing */
    margin: 10px 0 10px 0;
    
    /* Text Decoration */
    text-align: center;
    text-decoration: underline;
    
    /* Font Decoration */
    font-size: 20px;
    font-weight: bolder;
}

/* Paragraph Formatting */
p {
    padding: 10px;
}

/* Used to format the outside section containing the paragraph.*/
#IntroParagraphOuterSec {
    width: 50%;
    background-color: grey;
    padding: 10px 10px 10px 10px;
    
    margin-left: auto;
    margin-right: auto;
}

/* Used to format the inside section containing the paragraph. */
#IntroParagraphInnerSec {
    text-align: justify;
    width: 100%;
    
    margin-left: auto;
    margin-right: auto;
    
    background-color: white;
}

/* Used for the Styling of the Navigation Bar  */
ul {
    background-color: grey;
    list-style: none;
    margin: none;
}

ul li {
    float: inherit;
}

ul li a button {
    padding: 10px;
    background-color: grey;
}
}